/bootstrap/compiled.php
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.idea
**/*.sw?
db.sql
**/*.sw?
Entries.csv
Entries.json
Entries.pdf
IrcEntries.json
IrcEntries.csv
MirEntries.json
MirEntries.csv
CouponEntries.csv
CouponEntries.json
campaignEntries.csv
campaignEntries.pdf
campaignEntries.json
app/config/database.php
app/config/app.php
